{% extends "base.html" %}
{% block title %}Babraham AutoSFTP System{% endblock %}
{% block content %}
<div class="container-fluid text-center">
  <img src="{{ url_for('static', filename='images/bioinformatics_logo.svg') }}" width="25%">
</div>
<div class="container-fluid text-center">
  <button id="newsite" class="btn btn-primary btn-lg">Create a new site</button>
</div>
<div class="container-fluid text-center">
  <h2>Existing SFTP Sites</h2>
</div>

<!-- New Site Dialog -->
<div id="newsitediv" class="modal" tabindex="-1" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Create New SFTP Site</h2>
      </div>
      <div class="modal-body">
          <label for="sitename">Site Name</label>
          <input class="form-control" type="text" id="sitename">
          <label for="validuntil">Valid Until</label>
          <input class="form-control" type="date" id="validuntil">
          <div class="form-check">
            <label for="nopassword">Allow HTTPS without password</label>
           <input class="form-check-input" type="checkbox" id="nopassword">
          </div>
          <div class="form-check">
            <label for="allowupload">Allow HTTPS upload</label>
            <input class="form-check-input" type="checkbox" id="allowupload">
          </div>
          <button id="finishnewsite" type="button" class="form-control btn btn-success mt-2">Create Site</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
