{% extends "base.html" %}
{% block title %}Babraham AutoSFTP System{% endblock %}
{% block content %}
<div class="container-fluid text-center">
  <img src="{{ url_for('static', filename='images/bioinformatics_logo.svg') }}" width="25%">
</div>
<div class="container-fluid text-center">
  <button id="newsite" class="btn btn-primary btn-lg">Create a new site</button>
</div>
<div class="container-fluid text-center">
  <h2>Existing SFTP Sites</h2>
</div>

<div class="container-fluid text-center">
  <table class="table">
    <thead>
      <th scope="col">Site Name</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Exipires</th>
      <th scope="col">Anon HTTPS</th>
      <th scope="col">HTTPS Upload</th>
      <th scope="col">Open</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </thead>
    <tbody id="sitestbody">
      <tr>
        <td>My cool site</td>
        <td>frog-apple-blue</td>
        <td>a!Y6c2kxa##jg2EWeMX</td>
        <td>46 days</td>
        <td>&check;</td>
        <td>&cross;</td>
        <td><button class="btn btn-success btn-sm">Open</button></td>
        <td><button class="btn btn-primary btn-sm">Edit</button></td>
        <td><button class="btn btn-danger btn-sm">Delete</button></td>

      </tr>
    </tbody>

  </table>
</div>



<!-- New Site Dialog -->
<div id="newsitediv" class="modal" tabindex="-1" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><span id="createedit">Create New</span> SFTP Site</h2>
      </div>
      <div class="modal-body">
          <input type="hidden" id="editsiteid" value="">
          <label for="sitename">Site Name</label>
          <input class="form-control" type="text" id="sitename">

          <label for="validfor">Valid For</label>
          <div class="row" id="validtimediv">
            <input class="col-md-8" type="range" id="validfor", min="1", max="90", value="1"> <div id="validdays" class="col-md-2 text-center">1</div><div class="col-md-2">day(s)</div>
          </div>

          <div class="form-check">
            <label for="nopassword">Allow HTTPS without password</label>
           <input class="form-check-input" type="checkbox" id="nopassword">
          </div>

          <div class="form-check">
            <label for="allowupload">Allow HTTPS upload</label>
            <input class="form-check-input" type="checkbox" id="allowupload">
          </div>

          <button id="finishnewsite" type="button" class="form-control btn btn-success mt-2">Create Site</button>
      </div>
    </div>
  </div>
</div>

<!-- Site Details -->
<div id="sitedetailsdiv" class="modal" tabindex="-1" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="connectname"></h2>
      </div>
      <div class="modal-body">
        <p>You can connect to your site in the following ways:</p>

        <h4>Web Browser Connection</h4>
        <p>You can go to the following URL to access your site.  You can also send this link to anyone else you want to be able to download the site's data.</p> 
        <p id="connecthttp"><a href="/sites/sitename/">http://ftp-test.babraham.ac.uk/sites/sitename</a></p>
        

        <h4>SFTP Connection</h4>
        <p>
        SFTP is the easiest way to put data onto your site, or to do automated downloads from the site. Anyone who has these details can upload or download data, or delete data from the site.
        </p>
        <p>Connection command is: <span class="code" id="connectsftp">sftp username@ftp-test.babraham.ac.uk</span></p>
        <p>Password is: <span class="code" id="connectpassword">akbhw22n219%$</span></p>
        <p>You can also use graphical programs such as <a href="https://winscp.net">WinSCP</a> (Windows), <a href="https://cyberduck.io/">Cyberduck</a> (Mac) or <a href="https://filezilla-project.org/">Filezilla</a> (Cross platform) to connect to your site.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
