#maincontent {
    display: none;
}

#footer {
    color: black;
    background-color: lightgray;
    padding: 1em;
    margin-top: 2em;
}

#validtimediv {
    padding-left: 16px;
}

/* Sites */
.folderrow {
    cursor: pointer;
}
.filerow {
    cursor: pointer;
}

#filestbody {
    font-size: 120%;
    text-align: start;
}

td {
    white-space: nowrap;
}

td.filename {
    width:100%
}

td.filename:hover {
    color:darkred;
    text-decoration: underline;
}

td.filename a {
    text-decoration: none;
    color: black;
}

td.filename a:hover {
    text-decoration: underline;
    color: darkred;
}

span.breadcrumb {
    display: inline;
    cursor: pointer;
}

span.breadcrumb:hover {
    text-decoration: underline;
}

#filestbody td img {
    width:30px
}

