#maincontent {
    display: none;
}

#footer {
    color: black;
    background-color: lightgray;
    padding: 1em;
    margin-top: 2em;
}

#validtimediv {
    padding-left: 16px;
}

/* Sites */
.folderrow {
    cursor: pointer;
}
.filerow {
    cursor: pointer;
}

#filestbody {
    font-size: 120%;
    text-align: start;
}

td {
    white-space: nowrap;
}

td.filename {
    width:100%
}

#filestbody td img {
    width:30px
}

