#maincontent {
    display: none;
}

#footer {
    color: black;
    background-color: lightgray;
    padding: 1em;
    margin-top: 2em;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}


h2 {
    padding-top: 1em;
}

