#maincontent {
    display: none;
}

/* Login */
.error_message {
    color: red;
    background: white;
    padding: 0.2em;
    margin-top: 0.2em;
    font-weight: bold;
    display: none;
}

#footer {
    color: black;
    background-color: lightgray;
    padding: 1em;
    margin-top: 2em;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}


h2 {
    padding-top: 1em;
}

